.Sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: rgb(225, 225, 225);
}

.test {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  display: block;
  text-align: left;
  transition: 0.2s;
  font-weight: 400
}

.Sidebar a:hover {
  background-color: rgb(144, 186, 194);
}

.Sidebar .Active {
  background-color: rgb(144, 186, 194);
}
